.full-size {
  height: 100vh;
}

.full-compo {
  height: 100%;
}

.half-size {
  height: 50%;
}

.sidebar {
  background-color: #225a41;
}

.component-page {
  background-color: whitesmoke;
}

.button {
  height: 10%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-bottom: solid 2px;
  border-color: #1d4b36;
  color: white;
}
